@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

body {
    background:#cbebff;
}

.images1 {
    height: 600px;
    width: 2400px;
}

.avatar {
    height: 100px;
    width:  100px;
    box-shadow: 0px 0px 8px rgb(26, 26, 26);
    border-radius: 20px;
    margin: 9px;
}

#name1 {
    height: 50px;
    width: 500;
    background: #dbf0fd;
    box-shadow: 0px 0px 18px #84a4b8;
    border-radius: 10px;
    display: flex;
  align-items: center;
  justify-content: center;
}

#big_box {
    height: 60px;
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.smaller_box {
    width: 16%;
    height: 80%;
    background: #dbf0fd;
    box-shadow: 0px 0px 18px #84a4b8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #c7ffdf;
    text-shadow: 0px 0px 5px #102b30;
    font-family: 'Beau Rivage', cursive;
    margin: 10px;
    transition: .5s;
}

.smaller_box:hover {
    background:#cbebff;
    box-shadow: 0px 0px 18px #628194;
    color: #204d34;
    border-radius: 20px;
    width: 14%;
    height: 73%;
}

h1 {
    font-size: 36px;
    color: #bcffd9;
    text-shadow: 0px 0px 6px #18422a;
    font-family: 'Beau Rivage', cursive;
    margin: 10px;
    align-items: center;
}